@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Arial";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

[id] {
  scroll-margin-top: 10ex;
}

.boton {
  position: relative;
  top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #dd143c;
  color: black;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.conteiner__all {
  display: grid;
  grid-template-columns: 1020px;
  grid-template-rows: 100px auto auto;
}

.header {
  grid-row: 1/2;
  grid-column: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 20px;
  min-width: 1000px;
  z-index: 999;
}
.header .hamburger {
  display: none;
  position: fixed;
  background-color: transparent;
  top: 30px;
  height: 30px;
  width: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .hamburger.is-active {
  background-color: none;
}
.header ._layer {
  background: #333333;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.header .hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header .hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.header .hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
.header .hamburger.is-active .-mid {
  opacity: 0;
}
.header .hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}
.header .menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar .conteiner__secciones {
  display: flex;
  flex-direction: row;
}
.navbar .conteiner__secciones .seccion {
  margin: 0px 10px;
}

.main {
  grid-row: 2/3;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(500px, 900px));
  gap: 30px;
}

.home {
  grid-row: 1/2;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 120px 900px;
  grid-template-rows: 550px 50px;
}
.home .conteiner__redes {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .conteiner__redes .redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home .conteiner__redes .redes .red {
  margin: 10px 0px;
}
.home .conteiner__redes .redes .red a i {
  font-size: 30px;
}

.conteiner__presentacion {
  grid-column: 2/3;
  grid-row: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.conteiner__presentacion .presentacion__informacion .presentacion__h2 {
  font-size: 45px;
}
.conteiner__presentacion .presentacion__informacion .presentacion__h3 {
  font-size: 35px;
  color: grey;
}
.conteiner__presentacion .presentacion__informacion .presentacion__texto {
  font-size: 17px;
}
.conteiner__presentacion .presentacion__imagen {
  width: 250px;
  height: 250px;
}
.conteiner__presentacion .presentacion__imagen img {
  width: 100%;
  height: 100%;
  border-radius: 500px;
}

.SobreMi {
  grid-row: 2/3;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SobreMi .SobreMi__h2 {
  font-size: 25px;
}
.SobreMi .conteiner__SobreMi .SobreMi__informacion .informacion {
  text-indent: 6px;
  font-size: 18px;
  margin: 5px 0px;
}

.conteiner__SobreMi {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70%;
}
.conteiner__SobreMi .SobreMi__imagen {
  width: 400px;
  height: 400px;
}
.conteiner__SobreMi .SobreMi__imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.conteiner__SobreMi .SobreMi__informacion {
  width: 500px;
  margin-left: 25px;
}
.conteiner__SobreMi .SobreMi__informacion .informacion {
  font-size: 25px;
}
.conteiner__SobreMi .SobreMi__informacion .cv {
  width: 160px;
  margin-top: 20px;
}
.conteiner__SobreMi .SobreMi__informacion .cv a {
  position: inherit;
}

.Habilidades {
  grid-row: 3/4;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Habilidades .habilidades__h2 {
  font-size: 25px;
}

.conteiner__habilidad {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 400px));
  grid-template-rows: repeat(2, minmax(200px, 300px));
  gap: 20px;
  position: relative;
  top: 100px;
}
.conteiner__habilidad .habilidad__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__h2--icono {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__h2--icono i {
  font-size: 23px;
  margin-right: 10px;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad {
  width: 100%;
  height: 60px;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .habilidad__texto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris {
  width: 100%;
  height: 10px;
  background-color: grey;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .linea__roja {
  height: 10px;
  background-color: #dd143c;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .HTML {
  width: 70%;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .CSS {
  width: 60%;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .JAVASCRIPT {
  width: 50%;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .CPLUSPLUS {
  width: 60%;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .SQLSERVER {
  width: 50%;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .CSHARP {
  width: 50%;
}
.conteiner__habilidad .habilidad__conteiner .conteiner__habilidades .habilidad .linea__gris .GIT {
  width: 50%;
}

.Proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 4/5;
  grid-column: 1/1;
}
.Proyectos .Proyectos__h2 {
  font-size: 25px;
}

.conteiner__proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 350px));
  gap: 20px;
  margin: 100px 0px;
}
.conteiner__proyectos .proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner__proyectos .proyecto .proyecto__imagen {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
.conteiner__proyectos .proyecto .proyecto__imagen img {
  width: 100%;
  height: 100%;
}
.conteiner__proyectos .proyecto .proyecto__links {
  margin-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.conteiner__proyectos .proyecto .proyecto__links a {
  font-size: 30px;
}

.footer {
  grid-row: 3/4;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__h2 {
  font-size: 25px;
}

.conteiner__footer {
  width: 80%;
}
.conteiner__footer .footer__opciones {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.conteiner__footer .footer__opciones .footer__opcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.conteiner__footer .footer__opciones .footer__opcion .opcion__link {
  height: 30px;
  margin: 10px 0px;
}
.conteiner__footer .footer__opciones .footer__opcion .opcion__imagen {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */